___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [19]:
# Grab every letter in string
lst = [x for x in 'word']

In [20]:
# Check
lst

['w', 'o', 'r', 'd']

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10 } 

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [21]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]

In [22]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Example 3
Let's see how to add in <code>if</code> statements:

In [23]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]

In [24]:
lst

[0, 2, 4, 6, 8, 10]

## Example 4
Can also do more complicated arithmetic:

In [25]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example 5
We can also perform nested list comprehensions, for example:

In [26]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

Later on in the course we will learn about generator comprehensions. After this lecture you should feel comfortable reading and writing basic list comprehensions.

In [27]:
mylist = [0,10,20,30,40,50,60,70,80,90,100,110,120]

In [28]:
fahrenheit = [((9/5) * temp + 32) for temp in mylist]

In [29]:
fahrenheit

[32.0,
 50.0,
 68.0,
 86.0,
 104.0,
 122.0,
 140.0,
 158.0,
 176.0,
 194.0,
 212.0,
 230.0,
 248.0]

In [32]:
mystring = 'hello'
for letter in mystring:
    mylist.append(letter)

In [33]:
mylist

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 'h', 'e', 'l', 'l', 'o']

In [34]:
new_string = 'hello'
hello = [letter for letter in new_string]
hello

['h', 'e', 'l', 'l', 'o']

In [36]:
mylist = [x for x in range(0,101) if x%2==0 and x%3==0 and x%4==0 or x==100]
mylist

[0, 12, 24, 36, 48, 60, 72, 84, 96, 100]

In [37]:
celcius = [0,10,20,30,40]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [38]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0]